extends ./templates/default

block head
  link(rel="stylesheet" href="/stylesheets/not-found.css")

block content
  h2 Ops... 
  img(src="/images/404-page.svg", alt="imagem simbolizando erro na página não encontrada")
  a(href="/", class="button-return") Página Inicial 
