extends ./templates/default

block head
  link(rel="stylesheet" href="/stylesheets/notifyConfirm.css")

block content
  main
    div.container
      h2.title-container Notificações
      span Seu email foi cadastrado para receber a notificação de alteração no ambiente!
        | #{" "}
        a(href="/" class="button-return") Página Inicial
