doctype html
html(lang="pt-br")
  head
    link(rel="stylesheet" href="/stylesheets/default.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
      block title
        | Ambientech

    block head

  body
    header Ambientech
    block content

  footer
    | © 2025 -
    | Desenvolvido por
    a(href="https://github.com/joaomrsouza", target="_blank")  João Marcos
    |  e
    a(href="https://github.com/AnaLara714", target="_blank")  Ana Lara
    |  - Sistemas Embarcados 2024.2
