doctype html
html(lang="pt-br")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
      block title
        | Ambientech

    block head

  body
    block content
  
  footer 
    block footer