@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.container {
  background: #006ffe10;
  border-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  font-family: "Lilita One", sans-serif;
  background: #006efed8;
  color: #fff;
  padding: 15px 0;
  border-radius: 8px;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 5%;
}

#notifyForm,
.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  gap: 10px;
  margin-bottom: 5%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.select-box,
#valueTemp {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
}

.select {
  border: 1px solid #474747;
  border-radius: 4px;
  padding: 3px;
  height: 30px;
  width: 165px;
}

.select > option {
  background: #006efe10;
}

.email {
  font-family: "Nunito", sans-serif;
}

.email > input {
  border-radius: 4px;
  border: 1px solid #474747;
}

.email > input[type="email"] {
  width: 60%;
  height: 20px;
  padding: 4px;
}

.email > input[type="email"]:focus {
  outline: none;
}

.email > input[type="submit"] {
  background: #006efed8;
  font-weight: 400;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 6px;
}

.email > input[type="submit"]:active {
  background: #006efe72;
}

.hidden {
  visibility: hidden;
}

#valueTemp > input {
  border: 1px solid #474747;
  border-radius: 4px;
  padding: 3px;
  height: 20px;
}

@media screen and (max-device-width: 768px) {
  .email {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .email > input[type="email"] {
    width: 80%;
  }
}
