@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.sensorInformation {
  background: #006efe40;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", serif;
  height: 270px;
  margin: 5px;
}

.two-data {
  display: grid;
  grid-template-columns: 50% 50%;
}

.update {
  font-size: 8px;
  opacity: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3px;
  gap: 3px;
}

@media screen and (max-device-width: 425px) {
  .two-data {
    display: flex;
    flex-direction: column;
  }
}
